<div class="container px-5 py-5">
    <div class="mb-5">
        <div class="d-flex flex-wrap justify-content-between mb-5">
            <h4>Lista de Reservas</h4>
            <div>
                <button class="btn btn-success" routerLink="nueva">
                    <i class="bi bi-plus-lg me-2"></i>Nueva reserva
                </button>
            </div>
        </div>
        <h5 class="mb-2">Filtros de búsqueda</h5>
        <div class="row mb-4">
            <div class="col mb-2">
                <div class="input-group">
                    <div class="input-group-text">Fecha desde</div>
                    <input
                        type="date"
                        id="fechaDesde"
                        class="form-control"
                        value="{{ fechaDesde }}"
                        [(ngModel)]="fechaDesde"
                    />
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text">Fecha hasta</div>
                    <input
                        type="date"
                        id="fechaHasta"
                        class="form-control"
                        value="{{ fechaHasta }}"
                        [(ngModel)]="fechaHasta"
                    />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm mb-2">
                <div class="input-group">
                    <div class="input-group-text">Fisioterapeuta</div>
                    <input
                        class="form-control"
                        list="FisioterapeutaFiltro"
                        [(ngModel)]="empleadoSeleccionado"
                    />
                    <datalist id="FisioterapeutaFiltro">
                        <option
                            *ngFor="let f of empleados"
                            [value]="f.idPersona"
                        >
                            {{ f.nombreCompleto }}
                        </option>
                    </datalist>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group">
                    <div class="input-group-text">Paciente</div>
                    <input
                        class="form-control"
                        list="PacienteFiltro"
                        [(ngModel)]="pacienteSeleccionado"
                    />
                    <datalist id="PacienteFiltro">
                        <option
                            *ngFor="let f of pacientes"
                            [value]="f.idPersona"
                        >
                            {{ f.nombreCompleto }}
                        </option>
                    </datalist>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary me-2" (click)="filtrar()">
                Buscar
            </button>
            <button
                class="btn btn-outline-primary"
                type="button"
                (click)="limpiar()"
            >
                Limpiar
            </button>
        </div>
    </div>
    <app-lista-reservas [reservas]="reservas"> </app-lista-reservas>
</div>
